{% extends "base.html" %}
{% block content%}

<div class="centered-resource">
	<div class="span6">
		<div class="hero-unit">
			<h1>{{welcome}}!</h1>
			<p>
				{{welcome_message}}
			</p>
			<p>
				<a class="btn btn-primary btn-large">Learn more </a>
			</p>

		</div>
	</div><!--/span-->
	<div class="span4">
		<form id="loginForm" class="well" action="/userlogin/" name="userdata" method="post">
			{% csrf_token %}
			<div class="control-group{%if login_error%} error{%endif%}">
				<div class="username">
					<input id="userNameField" name="username" type="text" class="input" placeholder="{{username}}">
				</div>
				<div>
					<input id="passwordField" name="password" type="password" class="input-medium" placeholder="{{password}}">
					<button id="loginButon" onClick="" class="btn btn-success ui-button">
						Sign in
					</button>
				</div>
				{%if login_error%} <span class="help-inline">Wrong userame or password</span>{%endif%}
			</div>
		</form>
	</div><!--/span-->
</div>
<div class="centered-resource">

	
</div>



{% endblock %}
