<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/style/card.css" />
	</head>
	<body>
		<div class="detailed_card">
		<img src= "{{card.image}}" />
		<label id="name">{{card.name}}</label>
		{% if card.card_type == "A" %}
			<label id="attack">{{card.avatar_info.attack}}</label>
			<label id="defense">{{card.avatar_info.defense}}</label>
			<label id="range">{{card.avatar_info.rng}}</label>
			<!-- < label id="size">{{card.avatar_info.size}}</label> -->
			<label id="hp">{{card.avatar_info.mhp}}</label>
			<!-- <label id="element">{{card.avatar_info.element}}</label> -->
		{% else %}
			<label id="info">{{card.info}}</label>
			<label id="type">{{card.card_type}}</label>
			<label id="effect_interval">{{card.tool_info.effect_interval}}</label>
		{% endif %}
		</div>
	</body>
</html>