.detailed_card {
	 position: relative;
	overflow: hidden;
}


.detailed_card #attack{
	font-size: 25px;
	position: absolute; 
   	bottom: 35px; 
   	left: 25px; 
   	width: 10px; 
   	z-index: 60;	
}

.detailed_card #defense{
	font-size: 22px;
	position: absolute; 
   	bottom: 12px; 
   	left: 35px; 
   	width: 10px; 
   	z-index: 60;	
}


.detailed_card #hp{
	font-size: 18px;
	position: absolute; 
   	bottom: 22px; 
   	left: 108px; 
   	width: 10px; 
   	z-index: 60;	
}


.detailed_card #range{
	font-size: 28px;
	position: absolute; 
   	bottom: 12px; 
   	left: 188px; 
   	width: 10px; 
   	z-index: 60;	
}

.detailed_card #name{
	color: #FFFFFF;
	font-size: 18px;
	position: absolute; 
   	top: 15px; 
   	left: 65px; 
   	width: 100%; 
   	z-index: 60;	
}

.detailed_card #type{
	font-size: 35px;
	position: absolute; 
   	top: 180px; 
   	left: 25px; 
   	width: 100%; 
   	z-index: 60;	
}
.detailed_card #effect_interval{
	font-size: 35px;
	position: absolute; 
   	top: 180px; 
   	left: 180px; 
   	width: 100%; 
   	z-index: 60;	
}
.detailed_card #info{
	font-size: 20px;
	position: absolute; 
   	top: 230px; 
   	left: 30px; 
   	width: 160px; 
   	z-index: 60;	
}


/*
.detailed_card #element{
	color: #FFFFFF;
	font-size: 35px;
	position: absolute; 
   	top: 15px; 
   	left: 18px; 
   	width: 10px; 
   	z-index: 60;	
}*/




